body {padding: 0;margin: 0;font-family: system-ui;}
.title {background-color: #5f5fff;text-align: center;font-weight: 500;font-size: 24px;color: white;padding: 9px;/* margin-bottom: 20px; */}

.item {border: 2px solid #b8b8b8;margin: 10px;border-radius: 10px;padding: 10px;}
.item.showAnswers .option[answer=true] {
    background-color: #26bc2694;
}

.options {
    margin-top: 5px;
    /* font-size: 45px; */
    font-weight: 500;
    /* font-size: 30px; */
}
.showAnswers .options { margin-bottom: 0; }

.options .option {
    cursor: pointer;
    padding: 5px 5px;
    display: flex;
    border-radius: 10px;
    margin-top: 2px;
}
.options .option:hover {background-color: #ddd;}
.option input {/* top: 45px; */width: 16px;height: 25px;/* border: 20px solid; */margin-top: 5px;margin: 0;/* vertical-align: baseline; *//* position: absolute; */display: table;vertical-align: baseline;}
.option .text {
    /* margin-left: 113px; */
    /* display: inline-block; */
    flex: 1;
    margin-left: 10px;
}
.flex { display: flex; }
.btnAnswer {flex: 1;padding: 10px;background-color: blue;color: white;font-weight: 600;font-family: unset;letter-spacing: 0.7px;border-radius: 20px;cursor: pointer;border: none;}
.showAnswers .btnAnswer { display: none; }
