body {padding: 0;margin: 0;font-family: system-ui;font-size: 14px;color: #373737;}
.header {background-color: #5f5fff;text-align: center;font-weight: 500;font-size: 24px;color: white;padding: 9px;/* margin-bottom: 20px; */}
.subtitle {padding: 5px 10px 0;text-align: end;}
.item {border: 1px solid #b8b8b8ad;margin: 10px;border-radius: 0 0 10px 10px;border-radius: 5px;}
.item.showAnswers .option[answer=true] {
    background-color: #26bc2694 !important;
}
.item.bodyHide {/* border-radius: 0; *//* border-radius: 5px; */}
.item.bodyHide .title { border: none; }
.item .title {
    /* border-bottom: 1px solid #b8b8b8ad; */
    background-color: #bebebe4a;
    padding: 7px 10px;
    cursor: pointer;
}
.item .body {
    padding: 10px;
}

code {
    background-color: #e3e3e3;
    display: block;
    margin: 10px 0px;
    padding: 7px 10px;
    font-size: 12px;
    border-radius: 3px;
}
code .tab {
    margin-left: 20px;
}

.options {
    margin-top: 10px;
    font-weight: 500;
}
.showAnswers .options { margin-bottom: 0; }
.options .option {
    cursor: pointer;
    padding: 5px 5px;
    display: flex;
    border-radius: 10px;
    margin-top: 2px;
    line-height: 23px;
}
.showAnswers .options .option:hover { background-color: inherit; }
.options .option:hover {background-color: #dddddd6e;}
.option input {/* top: 45px; */width: 16px;height: 25px;/* border: 20px solid; */margin-top: 5px;margin: 0;/* vertical-align: baseline; *//* position: absolute; */display: table;vertical-align: baseline;}
.option .text {
    /* margin-left: 113px; */
    /* display: inline-block; */
    flex: 1;
    margin-left: 10px;
}
.buttons {/* margin-top: 10px; */}
.flex { display: flex; }
.btnAnswer, .btnNextQuestion {flex: 1;padding: 10px;background-color: #3030ff;color: white;font-weight: 600;font-family: unset;letter-spacing: 0.7px;border-radius: 10px;cursor: pointer;border: none;margin-top: 10px;}
.showAnswers .btnAnswer, .btnNextQuestion {display: none;}
.showAnswers .btnNextQuestion {display: block;background-color: #e4e4e4;color: inherit;}
